/* style header*/
* {
    margin: 0;
}

header {
    background-color: #353131;
    padding: 20px 35px;
    width: auto;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: center;
}

/* for the weather index make items show on the left side of the box*/

/* input section above the history suggestions, entire section must be to the left of the page*/

/*add style to the cards*/

